@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b4ac94;
  background-image: url("../media/hpback.jpeg");
  width: 100%;
  background-position: center;
  background-repeat: none;
}

@media all and (min-width: 3000px) {
  body {
    height: 1500px;
  }
}

body .btnContacto {
  float: right;
  color: #5c140c;
  margin-right: 10px;
}

body .btnContacto .iconNav {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  border-radius: 9px;
  background: #f49924;
  color: #5c140c;
  -webkit-box-shadow: 3px 3px 3px #070911, -3px -3px 3px #22262a;
          box-shadow: 3px 3px 3px #070911, -3px -3px 3px #22262a;
}

body .btnContacto .iconNav:hover {
  -webkit-box-shadow: inset 3px 3px 15px #070911, inset -2px -2px 3px #22262a;
          box-shadow: inset 3px 3px 15px #070911, inset -2px -2px 3px #22262a;
}

body .btnContacto .iconNav i {
  margin: auto;
}

body #cuerpoPrincipal {
  height: 600px;
}

@media all and (min-width: 2500px) {
  body #cuerpoPrincipal {
    height: 1000px;
  }
}

@media all and (min-width: 375px) {
  body #cuerpoPrincipal #quiz {
    width: 100%;
  }
}

body #cuerpoPrincipal #quiz .card {
  margin-top: 200px;
  background-color: #aa3411 !important;
  color: #f49924 !important;
}

body #cuerpoPrincipal #quiz .card .btn-primary {
  background-color: #c48c5c !important;
  border-color: #c48c5c !important;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding: 0 3em;
  height: 10vh;
  color: #fca43c;
}

body .footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8rem;
  list-style-type: none;
}

body .footer .footer__links .iconFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  border-radius: 9px;
  background: #f49924;
  color: #5c140c;
  -webkit-box-shadow: 3px 3px 3px #070911, -3px -3px 3px #22262a;
          box-shadow: 3px 3px 3px #070911, -3px -3px 3px #22262a;
}

body .footer .footer__links .iconFooter:hover {
  -webkit-box-shadow: inset 3px 3px 15px #070911, inset -2px -2px 3px #22262a;
          box-shadow: inset 3px 3px 15px #070911, inset -2px -2px 3px #22262a;
}

body .footer .footer__links .iconFooter i {
  margin: auto;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  padding: 0 3em;
  position: relative;
  color: #f09535;
  font-size: 25px;
}

@media all and (min-width: 375px) {
  body .header {
    padding: 0 1em;
  }
}

body .header .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body #busqueda {
  width: 100%;
}

body #busqueda .tarjetaBusqueda .card {
  width: 350px;
  margin-top: 100px;
  background-color: #aa3411 !important;
  color: #f49924 !important;
}

body #busqueda .tarjetaBusqueda .card .btn-primary {
  background-color: #c48c5c !important;
  border-color: #c48c5c !important;
}

@media all and (max-width: 375px) {
  body .container {
    margin-left: 0px;
  }
}

body .container #tabla {
  color: #f49924;
  width: 100%;
}

@media all and (min-width: 375px) {
  body .container #tabla {
    margin: 5px;
  }
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding: 0 3em;
  height: 10vh;
  color: #fca43c;
  margin-top: 50px;
}

body .footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8rem;
  list-style-type: none;
}

body .footer .footer__links .iconFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  border-radius: 9px;
  background: #f49924;
  color: #5c140c;
  -webkit-box-shadow: 3px 3px 3px #070911, -3px -3px 3px #22262a;
          box-shadow: 3px 3px 3px #070911, -3px -3px 3px #22262a;
}

body .footer .footer__links .iconFooter:hover {
  -webkit-box-shadow: inset 3px 3px 15px #070911, inset -2px -2px 3px #22262a;
          box-shadow: inset 3px 3px 15px #070911, inset -2px -2px 3px #22262a;
}

body .footer .footer__links .iconFooter i {
  margin: auto;
}

body #formContacto {
  width: 50%;
  margin: auto;
  color: #f09535;
}

@media all and (min-width: 375px) {
  body #formContacto {
    width: 70%;
    margin-bottom: 10px;
  }
}

body #formContacto #btnEnviarForm {
  text-align: center;
}

body #formContacto #btnEnviarForm button {
  background-color: #f49924;
}
/*# sourceMappingURL=estilos.css.map */